@import 'normalize',
	'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

// Color Pallet
$my-green: rgb(35, 196, 83);
$my-black: rgb(34, 34, 34);
$my-grey: rgb(109, 111, 121);


// Global Styling
*, *:before, *:after {
  box-sizing: border-box;
}

html {
	min-width: 300px;
	font-weight: 300;
	font-size: 16px;

	h1,h2,h3,h4,h5 {
		font-weight: 400;
	}
}

// Index page body wrap
.page-main {
	background: $my-grey url(../img/me_use_1024_H.jpg) no-repeat center bottom;
	background-size: 100% auto;
	min-height: 100%;
	position: absolute;
	right: 0;
	left: 0;
}

// Header bar styling
.header-cont {
	background-color: $my-black;
	position: relative;
	top: -63px;
	height: 120px;
}

.header-bar {
	border-top: 1px dotted $my-grey;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	height: 45px;
	margin: 5px 30px;
	padding: 5px 0;

	.header-logo {
		h1,h2 {
			margin: 0;
			padding: 0;
			float: left;
		}

		h1 {
			overflow: hidden;
			width: 40px;
			height: 40px;
		}

		h1 a {
			display: block;
			overflow: hidden;
			text-indent: -99999px;
			background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48Zz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMyQUM0M0IiIHN0cm9rZS13aWR0aD0iNDAuOTUyNCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0yNzYuMzU4LDMzMy40MTQgbC05Ni45MTUtOTYuOTFjLTMxLjY3My0zMS42NjgtODMuMDItMzEuNjY4LTExNC42ODksMGMtMzEuNjcxLDMxLjY3LTMxLjY3MSw4My4wMjEsMCwxMTQuNjg5bDk2LjkxNCw5Ni45MTQiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMyQUM0M0IiIHN0cm9rZS13aWR0aD0iNDAuOTUyNCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0zOTEuMDQ3LDIxOC43MjUgbC05Ni45MTQtOTYuOTE1Yy0zMS42NjktMzEuNjcxLTgzLjAyLTMxLjY3MS0xMTQuNjg5LDBjLTMxLjY3MywzMS42NzYtMzEuNjczLDgzLjAyNiwwLDExNC42OTRsOTYuOTE1LDk2LjkxIi8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMkFDNDNCIiBzdHJva2Utd2lkdGg9IjQwLjk1MjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMjM2LjIxNywxNzguNTgyIGw5Ni4zMzcsOTYuMzQyYzMxLjY3LDMxLjY3NCw4My4wMjMsMzEuNjc0LDExNC42OTMsMGMzMS42NzEtMzEuNjcyLDMxLjY3MS04My4wMTgsMC0xMTQuNjkxbC05Ni4zNDQtOTYuMzM5Ii8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMkFDNDNCIiBzdHJva2Utd2lkdGg9IjQwLjk1MjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMTIxLjUyNSwyOTMuMjczIGw5Ni4zNCw5Ni4zNDJjMzEuNjcsMzEuNjcyLDgzLjAyMSwzMS42NzIsMTE0LjY4OCwwYzMxLjY3LTMxLjY3NCwzMS42Ny04My4wMTgsMC0xMTQuNjkxbC05Ni4zMzctOTYuMzQyIi8+PC9nPjwvc3ZnPg==) no-repeat;
		}

		h2 {
			margin-left: 5px;
			width: 180px;
			height: 40px;
		}

		h2 a:link,h2 a:active,h2 a:hover,h2 a:visited, {
			text-decoration: none;
			color: white;
			line-height: 35px;
			display: block;
			width: 100%;
			height: 100%;
		}

		h2 span {
			display: none;
		}
	}

	.menu-icon {
		float: right;
		overflow: hidden;
		width: 40px;
		height: 40px;
		background: transparent;
		border: none;
		padding: 0;
		outline: 0;
		margin: 0 -15px 0 0;

		svg {
			width: 40px;
			height: 40px;
			fill: $my-green;
		}
	}

	.menu-icon:focus {
		outline: 0;
	}
}

.header-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	.nav-bar {
		margin: 5px 0;
		padding: 0;
		list-style: none;
		overflow: hidden;

		li {
			border-right: 1px dotted $my-grey;
			float: left;
			width: 1 / 3 * 100%;
		}

		li:last-child {
			border-right: none;
		}

		svg {
			display: block;
			width: 30px;
			height: 30px;
			margin: 0 auto;
			fill: $my-black;
		}

		span {
			display: block;
			text-align: center;
			margin: 5px 0 0 0;
		}
	}
}

.nav-icon:link,.nav-icon:hover,.nav-icon:active,.nav-icon:visited {
	color: white;
	text-decoration: none;
	border: none;
}

// Page content styling
.page-wrap {
	min-height: 100%;
	position: relative;
	padding: 10px 30px;
	margin-top: -5px;
}

.contact-wrap {
	// margin-top: -50px;
}

// Index page styling
.intro {
	color: white;

	h3 {
		font-size: 32px;
		margin: 0 0 18px 0;
	}

	p {
		line-height: 1.5em;
	}
}

.social-icons {
	display: none;
	width: 500px;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		li {
			width: 1 / 9 * 100%;
			height: 40px;
			float: left;
			padding: 0 5px;

			a {
				display: block;
				max-width: 40px;
				max-height: 40px;
				margin: 0 auto;

				svg {
					width: 100%;
					height: 100%;
					fill: white;
				}
			}

			a:hover {
				svg {
					-webkit-filter: drop-shadow(-5px -5px 5px white);
					filter: drop-shadow(-5px -5px 5px white);
				}
			}
		}
	}
}

.email:hover svg { fill: $my-grey; } // E-mail
.rss:hover svg { fill: $my-grey; } // RSS
.facebook:hover svg { fill: rgb(59,89,152); } // Facebook
.twitter:hover svg { fill: rgb(0,172,237); } // Twitter
.google:hover svg { fill: rgb(221,75,57); } // Google
.linkedin:hover svg { fill: rgb(0,123,182); } // LinkedIn
.github:hover svg { fill: rgb(51,51,51); } // GitHub
.instagram:hover svg { fill: rgb(81,127,164); } // Instagram
.flickr:hover svg { fill: rgb(255,0,132); } // Flikr
.lastfm:hover svg { fill: rgb(185,0,0); } // LastFM
.soundcloud:hover svg { fill: rgb(255,110,0); } // SoundCloud

// Contact page styling
.contact-icons {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		li {
			display: block;
			height: 40px;
			padding: 0 5px;

			a {
				display: block;
				text-decoration: none;
				height: 24px;
				overflow: hidden;

				svg,span {
					display: block;
					float: left;
				}

				svg {
					width: 24px;
					height: 24px;
					fill: $my-green;
				}

				span {
					height: 24px;
					line-height: 24px;
					margin-left: 10px;
					color: black;
				}
			}
		}
	}
}

// Footer styling
.footer-main,.footer-contact {
	background: $my-black;
	color: $my-green;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 14px;
}

.footer-contact {
	position: relative;
}

// Tablet restyling
@media (min-width: 640px) {
	.page-main {
		background-position: 0 -50px;
	}

	.intro {
		h3 {
			font-size: 60px;
		}

		p {
			font-size: 18px;
			width: 500px;
		}
	}

	.social-icons {
		display: block;
	}
}

// Small desktop styling
@media (min-width: 800px) {
	.page-main {
		background-size: 70% auto;
		background-position: bottom right;
	}

	.header-cont {
		top: 0;
		height: 80px;
		position: static;
	}

	.header-bar,.header-nav {
		float: left;
	}

	.header-bar {
		border-top: none;
		position: static;
		margin: 0;
		padding: 10px 0 10px 30px;
		width: 70%;

		.header-logo {
			h1 {
				width: 60px;
				height: 60px;

				a {
					width: 100%;
					height: 100%;
				}
			}

			h2 {
				height: 60px;
				width: auto;

				span {
					display: block;
					font-weight: 300;
					font-size: 18px;
					height: 20px;
					line-height: 20px;
					margin: 0 0 0 -10px;
				}
			}
		}
	}

	.header-nav {
		position: static;
		width: 30%;
		margin: 0;
		padding: 7.5px 30px 7.5px 0;

		.nav-bar {
			li:first-child {
				border-left: 1px solid $my-grey;
			}

			li:last-child {
				border-right: 1px solid $my-grey;
			}

			svg {
				fill: $my-green;
			}
		}
	}

	.menu-icon {
		display: none;
	}

	.intro {
		padding-top: 60px;

		h3,p {
			border-left: 3px solid $my-green;
			width: 500px;
			padding-left: 5px;
		}
	}

	.social-icons {
		position: fixed;
		bottom: 70px;
	}
}

// Large desktop styling
@media (min-width: 1200px) {
	.header-cont {
		.header-wrap {
			max-width: 1200px;
			margin: 0 auto;
		}
	}

	.page-main {
		background-size: 50% auto;
		background-position: 600px 0;
	}

	.page-wrap {
		max-width: 1200px;
		margin: 0 auto;
	}

	.footer-wrap {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 30px;
	}
}