@import 'normalize', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';
// @import 'normalize';

$my-green: rgb(35, 196, 83);
$my-black: rgb(34, 34, 34);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	min-width: 300px;
	font-weight: 300;

	h1,h2,h3,h4,h5 {
		font-weight: 400;
	}
}

header {
	background-color: $my-black;
	color: white;
	overflow: hidden;
	padding-bottom: 5px;

	a:link,a:hover,a:visited,a:active {
		color: white;
		text-decoration: none;
	}
}

.logo-header {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48Zz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMyQUM0M0IiIHN0cm9rZS13aWR0aD0iNDAuOTUyNCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0yNzYuMzU4LDMzMy40MTQgbC05Ni45MTUtOTYuOTFjLTMxLjY3My0zMS42NjgtODMuMDItMzEuNjY4LTExNC42ODksMGMtMzEuNjcxLDMxLjY3LTMxLjY3MSw4My4wMjEsMCwxMTQuNjg5bDk2LjkxNCw5Ni45MTQiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMyQUM0M0IiIHN0cm9rZS13aWR0aD0iNDAuOTUyNCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0zOTEuMDQ3LDIxOC43MjUgbC05Ni45MTQtOTYuOTE1Yy0zMS42NjktMzEuNjcxLTgzLjAyLTMxLjY3MS0xMTQuNjg5LDBjLTMxLjY3MywzMS42NzYtMzEuNjczLDgzLjAyNiwwLDExNC42OTRsOTYuOTE1LDk2LjkxIi8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMkFDNDNCIiBzdHJva2Utd2lkdGg9IjQwLjk1MjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMjM2LjIxNywxNzguNTgyIGw5Ni4zMzcsOTYuMzQyYzMxLjY3LDMxLjY3NCw4My4wMjMsMzEuNjc0LDExNC42OTMsMGMzMS42NzEtMzEuNjcyLDMxLjY3MS04My4wMTgsMC0xMTQuNjkxbC05Ni4zNDQtOTYuMzM5Ii8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMkFDNDNCIiBzdHJva2Utd2lkdGg9IjQwLjk1MjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMTIxLjUyNSwyOTMuMjczIGw5Ni4zNCw5Ni4zNDJjMzEuNjcsMzEuNjcyLDgzLjAyMSwzMS42NzIsMTE0LjY4OCwwYzMxLjY3LTMxLjY3NCwzMS42Ny04My4wMTgsMC0xMTQuNjkxbC05Ni4zMzctOTYuMzQyIi8+PC9nPjwvc3ZnPg==) no-repeat;
	display: block;
	overflow: hidden;
	margin: 5px;
	padding: 0 0 0 56px;

	h1,h2 {
		// font-size: 1em;
		line-height: 1.25em;
		margin: 0;
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1em;
		font-style: italic;
		font-weight: 300;
	}
}

.menu-icon {
	cursor: pointer;
	border: none;
	background: $my-black;
	display: block;
	position: fixed;
	top: 10px;
	right: 5px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	color: white;
	font-size: 0.75em;
	text-align: center;

	svg {
		display: block;
		width: 35px;
		height: 35px;
		fill: $my-green;
	}

	svg:last-child {
		display: none;
	}
}

nav {
	display: none;
}

nav ul {
	margin: 20px 0 5px 0;
	padding: 0;
	list-style: none;
	overflow: hidden;

	li {
		display: block;
		float: left;

		a {
			display: block;
		}
	}
}

.nav-bar {
	li {
		width: 1 / 4 * 100%;
	}
}

.nav-icon {
	svg,span {
		display: block;
	}

	svg {
		fill: #999;
		width: 40px;
		height: 40px;
		margin: 0 auto;
	}

	span {
		margin-top: 5px;
		font-size: 0.75em;
		text-align: center;
	}
}

.soc-nav {
	li {
		width: 1 / 6 * 100%;
	}
}

.soc-icon {
	height: 40px;

	svg,span {
		display: block;
	}

	svg {
		margin: 0 auto;
		width: 30px;
		height: 40px;
		fill: grey;
	}

	span {
		display: none;
	}
}

footer {
	font-weight: 300;
	background: $my-black;
	color: white;
	font-size: 0.75em;
	padding: 5px 15px;

	p a:link,p a:hover,p a:visited,p a:active,li a:link,li a:hover,li a:visited,li a:active {
		text-decoration: none;
		font-weight: 700;
		color: white;
	}
}

.nav-foot {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	li {
		display: block;
		float: left;
		width: 1 / 5 * 100%;

		a {
			display: block;
			text-align: center;
			height: 40px;
			line-height: 35px;
		}
	}
}